# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# IDEs and editors
/.idea

# misc
npm-debug.log

#generated js
/dist/
/spec/common/dist
/spec/common/gen
/**/*.js
