{{imports}}
import {ContentHub} from {{indexts}}

export class {{clsname}} {
    private _one_hub: ContentHub;
    private _one_type: string;
    private _one_id: string;
    private _one_adapted: false;

    {{properties}}

    {{constructor}}

    {{methods}}
}