    private _one_{{propname}}: {{proptype}} = {{propdefault}}

    get _{{propname}}(): {{proptype}} {
        this._one_hub.resolve(this._one_type, this._one_id, this._one_name);
        return this._one_{{propname}};
    }

    get ${{propname}}(): Promise<{{proptype}}> {

    }

    get {{propname}}(): {{propdefaulttype}} {
        return this.{{propdefaultmethod}}{{propname}};
    }

    set {{propertyname}}(